:root {
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
  --black: #353935;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: whitesmoke;
  color: var(--black);

  font-size: var(--font-size);
  z-index: 3;
}
h1 {
  font-family: var(--mono);
  margin: 2rem;
  padding: 2rem;
}
.logo {
  font-family: var(--mono);
  opacity: .8;
  border: 1px solid white;
  padding: .5rem;
}
.editor {

  padding: 2rem;
  background-color: var(--black);
  color: white;
}


